<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container-index" id="container-index">
    <h1>Pagina de inicio</h1>
    
    <% if (login) { %>
        <h1>Bienvenido <strong><%= name %></strong></h1>
        <a href="logout" class="light">Logout</a>
    <% } else { %>
        <a href="login" class="light"> Ir a login </a>
    <% } %>
    </div>
</body>
</html>